@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Background Colors */
  --primary: #34313d;

  /* Text colors */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
