@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* Background Colors */
  --primary: #34313d;
  --secondary-1: #3a3054;
  --secondary-2: #4b3f6b;
  --grey: #9e9aa8;
  --grey-2: #bfbfbf;
  --light-grey: #eff1f7;
  --accent: #2bd0d0;
  --dark: #232127;

  /* Text colors */
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
